@font-face {
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GilroyMedium.ttf") format("ttf");
}

@font-face {
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/GilroyExtrabold.ttf") format("ttf");
}
